[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=ServanaDock
Exec=/home/pc/ServanaDock/ServanaDock-launcher.sh
Terminal=false
Icon=ServanaDock
